$white: #ffffff;
$red: #b71606;
$gray: #d4d4d4;
$black: #000000;
$dark_gray: #141515;

@mixin reset-margin-padding {
    margin: 0;
    padding: 0;
}

.blured {
    filter: blur(10px);
}

body {
    font-family: "Roboto";
    background-color: $white;
    @include reset-margin-padding();
}

#top {
    clip-path: polygon(0 0, 100% 0, 100% calc(95% - 6vw), 0 95%);
    max-width: 100%;
    text-align: center;
    overflow-wrap: break-word;

    h1 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 5% auto;
        max-width: 50%;
        white-space: normal;
        font-family: "Roboto";
        font-weight: 900;
        color: $white;
        font-size: clamp(30px, 5vw, 70px);
        @media screen and (max-width: 600px) {
        }
    }
    #red {
        color: $red;
    }
    #back {
        width: 100%;
        // position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .scroll-arrow {
        position: fixed;
        bottom: 20px; /* Отступ от низа страницы */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow {
        width: 20px; /* Ширина стрелки */
        height: 20px; /* Высота стрелки */
        border: solid #000; /* Цвет стрелки */
        border-width: 0 2px 2px 0; /* Толщина линий стрелки */
        margin: 2px; /* Отступ между линиями стрелки */
        transform: rotate(45deg);
    }
}

#selection {
    width: 70%;
    // margin: auto;
    // margin-top: 7vh;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    gap: 4vw;

    #params {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1vw;

        .param {
            cursor: pointer;
            font-family: "Roboto";
            font-weight: 500;
            font-size: clamp(5px, 2vw, 20px);
            background-color: $red;
            color: $white;
            // max-height: 60px;
            border-radius: 20px;
            display: inline-block;
            text-align: center;
            padding: 1% 2%;
            box-sizing: border-box;
            transition: ease-out 100ms;
            box-shadow: 4px 4px 4px #00000040;

            // &:hover {
            //     background-color: $white;
            //     outline: solid 3px $red;
            //     color: $red;
            // }
            &:active {
                background-color: $white;
                outline: solid 3px $red;
                color: $red;
            }
        }
        .pressed {
            background-color: $white;
            outline: solid 3px $red;
            color: $red;
        }
    }
    #search {
        background: transparent;
        border: solid 3px $red;
        // height: 6vw;
        max-height: 80px;
        border-radius: 50px;
        width: 100%;
        max-width: 700px;
        // margin-top: 5vh;
        font-family: "Roboto";
        font-weight: 500;
        font-size: clamp(3px, 2vw, 20px);
        padding: 2%;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    #search_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1vw;
        flex-direction: row;
    }

    .button {
        border: none;
        cursor: pointer;
        font-family: "Roboto";
        font-weight: 500;
        font-size: clamp(5px, 2vw, 20px);
        background-color: $red;
        color: $white;
        // max-height: 60px;
        border-radius: 20px;
        display: inline-block;
        text-align: center;
        padding: 1% 1%;
        box-sizing: border-box;
        transition: ease-out 100ms;
        box-shadow: 4px 4px 4px #00000040;

        &:active {
            background-color: $white;
            outline: solid 3px $red;
            color: $red;
        }
    }

    #variants {
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;

        .variant {
            cursor: pointer;
            background-color: $gray;
            color: $black;
            border-radius: 20px;
            font-family: "Roboto";
            font-weight: 500;
            font-size: clamp(5px, 2vw, 30px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            padding: 10px;
            gap: 1vw;
            transition: ease-out 200ms;

            img {
                width: 10vw;
                height: 10vw;
                max-width: 100px;
                max-height: 100px;
            }

            &:hover {
                background-color: $white;
                outline: solid 3px gray;
            }
            &:active {
                background-color: $gray;
                outline: none;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $dark_gray;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 calc(0% + 6vw));
    display: inline-block;
    padding-top: 6vw;
    color: $gray;
    p {
        margin: 3%;
    }
}

#wrapper {
    display: flex;
    /* position: absolute; */
    min-height: 100vh;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(10px); /* Эффект блюра */
    }

    .close-button {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}
