@charset "UTF-8";
.blured {
  filter: blur(10px);
}

body {
  font-family: "Roboto";
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#top {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(95% - 6vw), 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% calc(95% - 6vw), 0 95%);
  max-width: 100%;
  text-align: center;
  overflow-wrap: break-word;
}
@media (max-width: 600px) {
  #top {
    background-color: #141515;
    width: 100%;
    margin-bottom: 2%;
  }
}
#top h1 {
  left: 0;
  right: 0;
  top: 0;
  margin: 5% auto;
  white-space: normal;
  font-family: "Roboto";
  font-weight: 900;
  color: #ffffff;
  font-size: clamp(30px, 5vw, 70px);
}
@media (min-width: 600px) {
  #top h1 {
    position: absolute;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  #top h1 {
    font-size: clamp(25px, 6vw, 60px);
    margin-bottom: 8vw;
  }
}
#top #red {
  color: #b71606;
}
#top #back {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 600px) {
  #top #back {
    display: none;
  }
}
#top .scroll-arrow {
  position: fixed;
  bottom: 20px; /* Отступ от низа страницы */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top .arrow {
  width: 20px; /* Ширина стрелки */
  height: 20px; /* Высота стрелки */
  border: solid #000; /* Цвет стрелки */
  border-width: 0 2px 2px 0; /* Толщина линий стрелки */
  margin: 2px; /* Отступ между линиями стрелки */
  transform: rotate(45deg);
}

#selection {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
@media (min-width: 600px) {
  #selection {
    width: 70%;
  }
}
@media (max-width: 600px) {
  #selection {
    width: 95%;
  }
}
#selection #params {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
}
@media (max-width: 600px) {
  #selection #params {
    gap: 2vw;
  }
}
#selection #params .param {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: clamp(5px, 2vw, 20px);
  background-color: #b71606;
  color: #ffffff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  padding: 1% 2%;
  box-sizing: border-box;
  transition: ease-out 100ms;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 600px) {
  #selection #params .param {
    font-size: clamp(10px, 5vw, 20px);
  }
}
#selection #params .param:active {
  background-color: #ffffff;
  outline: solid 3px #b71606;
  color: #b71606;
}
#selection #params .pressed {
  background-color: #ffffff;
  outline: solid 3px #b71606;
  color: #b71606;
}
#selection #search {
  background: transparent;
  border: solid 3px #b71606;
  max-height: 80px;
  border-radius: 50px;
  width: 100%;
  max-width: 700px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: clamp(3px, 3vw, 20px);
  padding: 2%;
}
@media (max-width: 600px) {
  #selection #search {
    font-size: clamp(3px, 5vw, 30px);
  }
}
#selection #search::-webkit-search-decoration, #selection #search::-webkit-search-cancel-button, #selection #search::-webkit-search-results-button, #selection #search::-webkit-search-results-decoration {
  display: none;
}
#selection #search:focus {
  outline: none;
}
#selection #search_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1vw;
  flex-direction: row;
}
#selection .button {
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: clamp(5px, 2vw, 20px);
  background-color: #b71606;
  color: #ffffff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  padding: 1% 1%;
  box-sizing: border-box;
  transition: ease-out 100ms;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 600px) {
  #selection .button {
    font-size: clamp(5px, 6vw, 20px);
  }
}
#selection .button:active {
  background-color: #ffffff;
  outline: solid 3px #b71606;
  color: #b71606;
}
#selection #variants {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
#selection #variants .variant {
  cursor: pointer;
  background-color: #d4d4d4;
  color: #000000;
  border-radius: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: clamp(5px, 2vw, 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  gap: 1vw;
  transition: ease-out 200ms;
}
@media (max-width: 600px) {
  #selection #variants .variant {
    font-size: clamp(5px, 5vw, 30px);
  }
}
#selection #variants .variant img {
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
}
#selection #variants .variant:hover {
  background-color: #ffffff;
  outline: solid 3px gray;
}
#selection #variants .variant:active {
  background-color: #d4d4d4;
  outline: none;
}

footer {
  width: 100%;
  background-color: #141515;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 calc(0% + 6vw));
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 calc(0% + 6vw));
  display: inline-block;
  padding-top: 6vw;
  color: #d4d4d4;
}
footer p {
  margin: 3%;
}

#wrapper {
  display: flex;
  /* position: absolute; */
  min-height: 100vh;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

#content {
  width: 100%;
  display: flex;
  /* position: absolute; */
  /* min-height: 100vh; */
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Эффект блюра */
}
.modal .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close-button:hover,
.modal .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */